*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.speecher{
    font-family: "Inter var", Inter, -apple-system, "system-ui", system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
}

body{
    margin:0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    display: block;
    pointer-events: all;
    padding: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;

    color: white;
    border:none;
    background-color: #3c92dc;

    border:none; 
    border:1px solid #266ebdff;
    border-radius:4px; 
    width: 100%;
}
.button:hover{
    background-color: #3282ceff;
    border:1px solid #1f60aeff;
}


.row{
    width: 100%;
    display: flex;
}

.title{
    font-size: 0.9rem;
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.err{
    font-size: 0.8rem;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,230,230,.85);
}

.active{
    pointer-events: all;
    opacity: 1;
}
.inactive{
    pointer-events: none;
    opacity: .5;
}